.error-message-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  
  .error-message-content {
    font-family: sans-serif;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }